*{
  text-decoration: none!important;
}

body {
  background-color: #dad8c3f5;
}

/* Footer */
.footer{
  background-color: #5f4c4c;
}

.fondoTexto{
  background-color: #46a7b0;
}

.fa-solid fa-user{
  font-size: 4px;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.quicksand-600 {
  font-weight: 600;
}

.quicksand-400 {
  font-weight: 400;
}

.quicksand-700
 {
  font-weight: 700;
}

.img{ 
  width: 200px;
}